
<% include ../partials/header %>

<h2>Lists</h2>

<ul class="todolist-previews">
  <% lists.forEach(function(list) { %>
    <li>
      <a href="/lists/<%= list._id %>">
        <% if (list.name) { %>
          <%= list.name %>
        <% } else { %>
          undefined
        <% } %>
      </a>
      <% if (list.items.length > 0) { %>
        <ul>
          <% let max = Math.min(list.items.length, 3); %>
          <% for (let i = 0; i < max; i++) { %>
            <li><%= list.items[i].text %></li>
          <% } %>
          <% if (max < list.items.length) { %>
            <li>...</li>
          <% } %>
        </ul>
      <% } %>
    </li>
  <% }); %>
</ul>

<% include ../partials/footer %>
