
<% include ../partials/navheader %>

<form action="/lists" method="POST">
  <div class="form-group">
    <label for="listName">Name</label>
    <input type="text" id="listName" class="form-control" name="list[name]" placeholder="name">
  </div>
  <div class="form-group">
    <label for="listDescription">Description</label>
    <input type="text" id="listDescription" class="form-control" name="list[description]" placeholder="description">
  </div>
  <button class="btn btn-default">Create List</button>
</form>

<% include ../partials/footer %>
