<footer id="footer" class="bg-secondary">
  <span class="text-light">
      todolists
  </span>
  <a class="text-warning" href="https://github.com/Gurpreet2/todolists">
    Fork me on GitHub!
  </a>
</footer>
</div>

</body>
</html>