<footer id="footer" class="bg-dark">
  <span id="footer-title" class="text-white">
      todolists
  </span>
  <a id="github-link" href="https://github.com/Gurpreet2/todolists">
    Fork me on GitHub!
  </a>
</footer>
</div>

</body>
</html>