
<% include partials/header %>

<div class="jumbotron">
  <h1>
    todolists
  </h1>
  <p>
    Welcome to the todolists app! Create your own todolists, and add some todoitems!
  </p>
</div>

<% include partials/footer %>
