
.nav-item {
  white-space: nowrap;
}

ul li {
  max-width: 50%;
}

.navbar {
  margin-bottom: 2%;
}

.todolist-previews {
  list-style-type: none;
  padding-left: 0;
}

.list-list {
  
}

.list-item {
  
}

.list-item-text {
  
}

.list-item-button {
  display: inline;
  float: right;
}

.list-item-edit-button {
  
}
