
html, body, body > div.container:first-child {
  height: 100%;
}

/*navbar*/
.nav-item {
  white-space: nowrap;
}
.navbar {
  margin-bottom: 2%;
}

/*list index page*/
.todolist-previews {
  list-style-type: none;
  padding-left: 0;
}
.todolist-previews li a {
  font-size: 22px;
}

/*list show page*/
.list-description {
  opacity: 0.5;
}
.list-list {
  list-style-type: none;
  margin-top: 15px;
}
.input-add-item {
  max-width: 25%;
  display: inline;
  margin-right: 5px;
}
.list-item {
}
.list-item-text {
}
.edit-button {
  height: 31px;
}
a.edit-button i.fa-edit {
  padding: 3px 0;
}
.delete-button {
  margin-left: 10px;
  height: 31px;
}
li.list-item .list-item-checkbox {
  margin-top: 5px;
  margin-right: 8px;
}

/*footer */
#footer {
  /*bottom: 0;*/
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  margin-top: 50px;
}
#footer #footer-title {
  border-right: 1px solid white;
  margin-right: 5px;
}
#footer #github-link {
  color: lightgray;
}

/*forms*/
.todolist-form-header {
  margin: auto;
  max-width: 500px;
}
.todolist-form {
  max-width: 500px;
  margin: auto;
}
#item-form {
  line-height: 1em;
}
