
<%- include('../partials/header'); -%>

<script type="text/javascript" src="/assets/js/modify-user-form.js" async></script>

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <h2>Modify User Profile</h2>
        
        <ul class="list-group mt-4">
            <li class="list-group-item">
                <div class="form-group row mb-0">
                    <label for="username" class="col-sm-2 col-form-label">Username: </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="username" placeholder="username" id="username" value="<%= currentUser.username %>" disabled>
                    </div>
                </div>
            </li>
        </ul>
        
        <form action="/profile?_method=PUT" method="POST" onsubmit="return validatePasswords()">
            <ul class="list-group mt-4">
                <li class="list-group-item">
                    <div class="form-group row mb-0">
                        <label for="email" class="col-sm-2 col-form-label">Email: </label>
                        <div class="col-sm-10">
                            <input class="form-control" type="email" name="email" placeholder="email" id="email" value="<%= currentUser.email %>">
                        </div>
                    </div>
                    <small class="form-text text-muted">Email addresses can be set but are not yet supported.</small>
                </li>
                <li class="list-group-item">
                    <div class="form-group row">
                        <label for="oldPassword" class="col-sm-4 col-form-label">Old Password: </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="password" name="oldPassword" placeholder="old password" id="oldPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPassword" class="col-sm-4 col-form-label">New Password: </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="password" name="newPassword" placeholder="new password" id="newPassword">
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label for="confirmNewPassword" class="col-sm-4 col-form-label">Confirm New Password: </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="password" placeholder="confirm new password" id="confirmNewPassword">
                        </div>
                    </div>
                </li>
            </ul>
            <input class="btn btn-primary mt-4" type="submit" value="Save">
        </form>
    </div>
</div>

<%- include('../partials/footer'); -%>
